.stories-item {
  width: 92px;
}

.c-story-user-item {
  width: 92px;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;

  & img {
    border-radius: 50%;
    width: 80px;
    border: 2px solid #a6328d;
    padding: 10px;
  }

  & .username {
    margin-top: 10px;
    width: 92px;
    text-align: center;
  }
}
